
    
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add purine data</h5>
          </div>
          <div class="modal-body" id="modal-body">
            <form hx-post="/add-product" hx-target="#modal-body" class="d-flex flex-column gap-2">
                <div class="form-group">
                    <label for="product-name" class="form-label">Product name</label>
                    <input
                    type="text"
                    name="name"
                    id="product-name"
                    class="form-control"
                    aria-describedby="search"
                    />
                </div>
                <div class="form-group">
                    <label for="product-value" class="form-label">Uric acid [g]</label>
                    <input
                    type="text"
                    name="value"
                    id="product-value"
                    class="form-control"
                    aria-describedby="search"
                    />
                </div>
            
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
            
        </div>
      </div>

